.forgot-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #1b4650, #132f38);
}

.forgot-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 380px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
}

.forgot-card h2 {
  margin-bottom: 10px;
}

.forgot-card p {
  font-size: 14px;
  margin-bottom: 20px;
  color: gray;
}

.forgot-card input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
}

.forgot-card button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #1e5d66, #60b1b7);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.forgot-card button:hover {
  opacity: 0.9;
}

.message {
  margin-top: 15px;
  font-size: 14px;
  color: #1e5d66;
}

.back-link {
  display: block;
  margin-top: 20px;
  font-size: 14px;
  color: #1e5d66;
  cursor: pointer;
}
.otp-container input {
  width: 45px !important;
  height: 45px !important;
  margin: 5px;
  font-size: 18px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.otp-container input:focus {
  border: 1px solid #4caf50;
  outline: none;
}
